{% for label, messages in app.flashes %}
    {% for message in messages %}
        {{ dump(message) }}
        <div class="alert alert-{{ label }}">
            {{ message|trans }}
        </div>
    {% endfor %}
{% endfor %}
